<script type="text/javascript">
$(function(){
	$.formValidator.initConfig({formID:"CompanyEditForm",theme:'App',onError:function(msg){
		
	},onSuccess:CompanySaveEdit,submitAfterAjaxPrompt:'有数据正在异步验证，请稍等...',inIframe:true});
	
	$("#CompanyEdit_username").formValidator({onShow:"请输入公司名",onFocus:"请输入公司名"}).inputValidator({min:1,max:100,empty:{leftEmpty:false,rightEmpty:false,emptyError:"请输入公司名"},onError:"请输入公司名"});
	$("#CompanyEdit_address").formValidator({onShow:"请输入公司地址",onFocus:"请输入公司地址"}).inputValidator({min:1,max:100,empty:{leftEmpty:false,rightEmpty:false,emptyError:"请输入公司地址"},onError:"请输入公司地址"});
	$("#CompanyEdit_boss").formValidator({onShow:"请输入负责人姓名",onFocus:"请输入负责人姓名"}).inputValidator({min:1,max:100,empty:{leftEmpty:false,rightEmpty:false,emptyError:"请输入负责人姓名"},onError:"请输入负责人姓名"});
	$("#CompanyEdit_phone").formValidator({onShow:"请输入负责人电话",onFocus:"请输入负责人电话"}).inputValidator({min:1,max:100,empty:{leftEmpty:false,rightEmpty:false,emptyError:"请输入负责人电话"},onError:"请输入负责人电话"});

})
function CompanySaveEdit(){

	$.post('{:U('Company/edit?id='.$info['id'])}', $("#CompanyEditForm").serialize(), function(data){
		if(!data.status){
			$.messager.alert('提示信息', data.info, 'error');
		}else{
			
			$('#CompanyEditBox').dialog('close');
			$.messager.alert('提示信息', data.info, 'info');
			companySearch();
			
		}
	});
}
</script>
<form id="CompanyEditForm" style="font-size:13px; padding: 5px 0 0 10px;">
<table>
	<tr>
		<td width="120">公司名称：</td>   
		<td><input type="text" name="info[name]" id="CompanyEdit_username" style="width:180px;height:22px" value="{$info['name']}" /></td>
		<td><div id="CompanyEdit_usernameTip"></div></td>
	</tr>
	<tr>
		<td>公司地址：</td>
		<td><input type="text" name="info[address]" id="CompanyEdit_address" style="width:180px;height:22px"  value="{$info['address']}"  /></td>
		<td><div id="CompanyEdit_addressTip"></div></td>
	</tr>
	<tr>
		<td>负责人姓名：</td>
		<td><input type="text" name="info[boss]" id="CompanyEdit_boss" style="width:180px;height:22px"  value="{$info['boss']}"  /></td>
		<td><div id="CompanyEdit_bossTip"></div></td>
	</tr>
	<tr>
		<td>负责人电话：</td>
		<td><input type="text" name="info[phone]" id="CompanyEdit_phone" style="width:180px;height:22px"  value="{$info['phone']}"  /></td>
		<td><div id="CompanyEdit_phoneTip"></div></td>
	</tr>	
</table>
<input type="hidden" name="info[id]" value="{$info['id']}"  />
</form>

